@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}


.logo {
    font-size: 32px;
    color: #cc2c14;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    background: black;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.hero {
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.btn {
    background-color: #cc2c14; 
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    border-radius: 15px;
    outline: none;
    border: none;
    
}


.letter{
    color: #cc2c14;
}

.nav a:hover {
opacity: 0.5;

}

.hero h1 {
    font-size: 48px;
    font-weight: 500;
}
.services h1{
    padding: 0;
    color: white;
    font-size: 64px;
    font-weight: 500;
    padding-bottom: 70px;
    padding-left: 100px;
}

.services-container {
    width: 300px; 
    height: 350px; 
    margin: 60px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.box{
    width: 300px;
    height: 380px; 
    border-radius: 8px; 
    flex-wrap: wrap;
    align-items: center;
    background:black;
    border: 2px solid #cc2c14;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;
    box-shadow: 0 10px 10px -4px #cc2c14;
}

.package h1{
    padding: 0;
    color: white;
    font-size: 64px;
    font-weight: 500;
    padding-bottom: 70px;
    padding-left: 100px;
}

.para{
    font-family: 'Poppins';
    margin: 0px 0px 0px 72px;
    color: white;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
}
.packages-containers{
    width: 300px; 
    height: 350px; 
    margin: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

} 
.cards{
    font-family: 'Poppins';
    width: 25%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:black;
    border: 2px solid #cc2c14;
    color: white;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 20px;
    border-radius: 16px; 
    background: linear-gradient(71deg, rgba(255, 97, 33, 0.70) 10.66%, rgba(204, 43, 20, 0.70) 26.32%, rgba(21, 21, 21, 0.70) 81.63%);
}