@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}


.logo {
    font-size: 32px;
    color: #cc2c14;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    background: black;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.hero {
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.btn {
    background-color: #cc2c14; 
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    border-radius: 15px;
    outline: none;
    border: none;
    
}


.letter{
    color: #cc2c14;
}

.nav a:hover {
opacity: 0.5;

}

.hero h1 {
    font-size: 48px;
    font-weight: 500;
}
.services h1{
    padding: 0;
    color: white;
    font-size: 64px;
    font-weight: 500;
    padding-bottom: 70px;
}



.box1{
    width: 384px; /* Adjust box width as needed */
    height: 350px; /* Adjust box height as needed */
    border-radius: 8px; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:black;
    border: 2px solid #cc2c14;
    color: white;
    float:left;
    margin-left: 20px;
        margin-right: 10px;
        box-shadow: 0 10px 10px -4px #cc2c14;
}

.box1 .arrow{
    padding-left: 260px;
    padding-bottom: 40px;
}

/* arrow icon hover is not working // */
/* //.box1:hover img.arrow{ */
    /* color: white; */
/* } */
.box1 h2{
    padding-right: 65%;
    font-size: 24px;
    font-weight: 500;
    
}
.webdev{
padding-right: 70%;

}

.box1:hover{
    background-color: #cc2c14;
    color:white;

}

.box1:hover .webdev{
  color: white;
}

.box2{
    width: 384px; /* Adjust box width as needed */
    height: 350px; /* Adjust box height as needed */
    border-radius: 8px; 
    margin-left: 20px;
    margin-right: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:black;
    border: 2px solid #cc2c14;
    color: white;
    float:left;
    box-shadow: 0 10px 10px -4px #cc2c14;
}

.box2 h2{
    padding-right: 65%;
    font-size: 24px;
    font-weight: 500;

}

.SEO{
    padding-right: 70%;
    }

    .box2 .arrow{
        padding-left: 260px;
        padding-bottom: 40px;
    }

.box2:hover{
        background-color: #cc2c14;
        color:white;
    }
    
.box3{
        width: 384px; /* Adjust box width as needed */
        height: 350px; /* Adjust box height as needed */
        border-radius: 8px; 
        margin-left: 10px;
        margin-right: 20px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background:black;
        border: 2px solid #cc2c14;
        color: white;
        float:left;
        margin-top: 0%;
        box-shadow: 0 10px 10px -4px #cc2c14;
    }
.box3 h2{
    padding-right: 65%;
    font-size: 24px;
    font-weight: 500;
    
    
    }
    
    .box3 .arrow{
        padding-left: 260px;
        padding-bottom: 40px;
    }  
.security{
        padding-right: 70%;
    }
    
    .box3:hover{
            background-color: #cc2c14;
            color:white;
        }    
 
.box4{
      width: 384px; /* Adjust box width as needed */
      height: 350px; /* Adjust box height as needed */
      margin-left: 20px;
      margin-right: 10px;
      margin-bottom: 20%;
      margin-top: 4%;
      display:flex;
      justify-content: center;
       align-items: center;
      flex-direction: column;
      background:black;
      border: 2px solid #cc2c14;
     color: white;
     float:left;
     border-radius: 8px; 
     box-shadow: 0 10px 10px -4px #cc2c14;
        }
.box4 h2{
    padding-right: 65%;
    font-size: 24px;
    font-weight: 500;
        }
        
.marketing{
            padding-right: 70%;
            }
.box4 .arrow{
                padding-left: 260px;
                padding-bottom: 40px;
            }
        .box4:hover{
                background-color: #cc2c14;
                color:white;
            } 
            
            .box5{
                width: 384px; /* Adjust box width as needed */
                height: 350px; /* Adjust box height as needed */
                border-radius: 8px; 
                margin-left: 20px;
      margin-right: 10px;
      margin-bottom: 20%;
      margin-top: 4%;
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background:black;
                border: 2px solid #cc2c14;
                color: white;
                float:left;
                flex-shrink: 0; 
                box-shadow: 0 10px 10px -4px #cc2c14;
            }
            .box5 h2{
                padding-right: 65%;
    font-size: 24px;
    font-weight: 500;
            
            }
            .box5 .arrow{
                padding-left: 260px;
                padding-bottom: 40px;
            }
        .uxdesign{
                padding-right: 70%;
                }
            
            .box5:hover{
                    background-color: #cc2c14;
                    color:white;
                } 
                
                .box6{
                    width: 384px; /* Adjust box width as needed */
                    height: 350px; /* Adjust box height as needed */
                    border-radius: 8px; 
                    margin-left: 24px;
      margin-right: 10px;
      margin-bottom: 20%;
      margin-top: 4%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background:black;
                    border: 2px solid #cc2c14;
                    color: white;
                    float:left;
                    flex-shrink: 0; 
                    box-shadow: 0 10px 10px -4px #cc2c14;
                }

.box6 h2{
    padding-right: 65%;
    font-size: 24px;
    font-weight: 500;
}

                .box6 .arrow{
                    padding-left: 260px;
                    padding-bottom: 40px;
                }

                .mobdev{
                    padding-right: 70%;
                    }
                
                .box6:hover{
                        background-color: #cc2c14;
                        color:white;
                    }    

                    .package h1{
                        padding: 50px;
                        color: white;
                        font-size: 64px;
                        font-weight: 500;
                    margin: 0px 0px 0px 16px;
                    }   
                    
                    .para{
                        font-family: 'Poppins';
                        margin: 0px 0px 0px 72px;
                        color: white;
                        font-size: 32px;
                        font-weight: 400;
                        font-style: normal;
                    }
.cards{
    font-family: 'Poppins';
    width: 350px;
height: 400px;
display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background:black;
                    border: 2px solid #cc2c14;
                    color: white;
                    box-sizing: border-box;
                    float:left;
                    margin-top: 50px;
                    margin-left: 80px;
                    margin-right: 20px;
                    border-radius: var(--16, 16px); background: linear-gradient(71deg, rgba(255, 97, 33, 0.70) 10.66%, rgba(204, 43, 20, 0.70) 26.32%, rgba(21, 21, 21, 0.70) 81.63%);
}
.cards h1{
    padding-right: 260px;
    padding-left: 40px;
    padding-bottom: 180px;
    margin: 0 0 12px;
    font-weight: 400;
}

.cards1{
    font-family: 'Poppins';
    width: 354px;
height: 400px;
display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background:black;
                    border: 2px solid #cc2c14;
                    color: white;
                    box-sizing: border-box;
                    float:right;
                    margin-top: 50px;
                    margin-left: 40px;
                    margin-right: 20px;
                    padding-left: 50px;
                    border-radius: var(--16, 16px); background: linear-gradient(71deg, rgba(255, 97, 33, 0.70) 10.66%, rgba(204, 43, 20, 0.70) 26.32%, rgba(21, 21, 21, 0.70) 81.63%);
}
.cards1 h1{
    font-weight: 400;
    padding-right: 260px;
    padding-left: 40px;
    padding-bottom: 160px;
    margin: 0 0 12px;
}

.cards2{
    font-family: 'Poppins';
    width: 384px;
height: 400px;
display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background:black;
                    border: 2px solid #cc2c14;
                    box-sizing: border-box;
                    color: white;
                    float:center;
                    margin-top: 50px;
                    margin-left: 80px;
                    margin-right: 20px;
                    border-radius: var(--16, 16px); 
                    background: linear-gradient(71deg, rgba(255, 97, 33, 0.70) 10.66%, rgba(204, 43, 20, 0.70) 26.32%, rgba(21, 21, 21, 0.70) 81.63%);
}
.cards2 h1{
    padding-right: 260px;
    padding-left: 30px;
    font-weight: 400;
    padding-bottom: 180px;
    margin:0 0 12px;
}
.cards2 h2{
    padding-right: 260px;
    padding-left: 10px;
    font-weight: 400;
    padding-top: 0px;
}
.partners h3{
    text-align: center;
    margin-top: 200px;
    color: white;
    font-size: 64px;
    font-weight: 400;
    padding-bottom: 160px;
}