@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}


.logo {
    font-size: 32px;
    color: #cc2c14;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    background: black;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.hero {
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.btn {
    background-color: #cc2c14; 
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    border-radius: 15px;
    outline: none;
    border: none;
    
}


.letter{
    color: #cc2c14;
}

.nav a:hover {
opacity: 0.5;

}

.hero h1 {
    font-size: 48px;
    font-weight: 500;
}
.services h1{
    padding: 0;
    color: white;
    font-size: 64px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-left: 180px;
}


.service-container {
    color: white;
    width: 100%;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 36px;
}

.box{
    width: 380px;
    height: 365px; 
    margin: 10px 10px 40px 50px;
    flex-basis: 24%;
    display: flex;
    padding-left: 20px;
    background-color: black;
    align-items: center;
    border:1px solid #cc2c14;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 10px 10px -4px #cc2c14;

}
.arrow {
    padding-left: 160px;
    padding-top: 20px;
}

.box h2{
  padding-top: 80px;
  padding-right: 140px;

} 

.box p{
    padding-right: 10px;
padding-bottom: 50px;
}

.box:hover,.box:hover img, .arrow:hover {
    background-color: #cc2c14;
    color:white;
}



@media only screen and (min-width: 200px) and (max-width:767px){
    .service-container{
        width: 100%;
        flex-direction: column;
    }
    .box{
        margin: 10px;
    }
}

.package h2{
    padding: 0;
    color: white;
    font-size: 64px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-left: 100px;
}

.para{
    color: white;
    font-size: 32px;
    font-weight: 400;
    padding-left: 100px;
}

.package{
    width: 100%;
    margin: 50px;
    padding: 0px 36px;
}
.packages-container {
    width: 100%;
    display: flex;
    padding-left: 60px;
}

.card{
    width: 300px;
    height: 365px; 
    background-color: white;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: left;
    border:1px solid #cc2c14;
    flex-direction: column;
    border-radius: 16px;
    color: white;
    background: linear-gradient(71deg, rgba(255, 97, 33, 0.70) 10.66%, rgba(204, 43, 20, 0.70) 26.32%, rgba(21, 21, 21, 0.70) 81.63%);
    margin-top: 50px; 
    margin-right: 40px;
    border-radius: 16px; 
}   


.bit{
    font-size: 32px;
    padding-left: 20px;
    padding-top: 10px;
}

.dollar{
    font-size: 24px;
    padding-left: 20px;
    padding-top: 10px;
}

.packages-container p{
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
}

.btn-card{
    background: transparent;
    border: none;
    padding-right: 120px;
    color: white;
    padding-top: 10px;
}

.btn-card:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 1px 6px 1px 11px;
}

.orders{
    font-size: 16px;
    padding-left: 20px;
    padding-top: 110px;
}

.partners{
    font-size: 40px;
    background-position: center;
    color: white;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh; 
}

.contact{
    font-size: 70px;
    color: white;
    padding-bottom: 20px;
}
.mail{
    color: white;
    font-size: 32px;
}

.detail{
    color: white;
    font-size: 20px;
    padding-top: 200px;
}
.no{
    padding-top: 20px;
    font-size: 28px;
}
.contact-for{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 30px;
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.form-container .form-detail{
    width: 370px;
    height: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.form-container .form-detail .inputbox{
    position: relative;
    padding: 20px 0;
}


.contactform{
    width: 40%;
    padding: 40px;
    color: white;
}

.contactform .inputbox{
    position: relative;
    width: 100%;
}

.contactform .inputbox input,
.contactform .inputbox textarea{
    border-bottom: none;
    width: 100%;
    padding: 5px 0;
    font-size: 32px;
    margin: 10px 0;
    border: none;
    outline: none;

}
.contactform #button{
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
}

.contactform #button:hover{
    background-color: #cc2c14;
    color: white;
    border-radius: 32px;
    border-right: 2px;
    border: none;
    padding: 1px 11px;
}
